<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAGradientLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0372E7D2205A6B600034F62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0372E7EB205A6B630034F62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0372E7F6205A6B630034F62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
